<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>SummerSafe</title>
  </head>
  <body>
    <nav>
      <div class="nav__logo">SummerSafe</div>
      <ul class="nav__links">
  <li class="link"><a href="#">Home</a></li>
  <li class="link"><a href="/partner">Become a partner</a></li>
  <li class="link"><a href="/register">SignUp</a></li>
  <li class="link"><a href="/login">Login</a></li>
  <li class="link"><a href="/profile"><i class="bi bi-person-fill"></i></a></li>

      </ul>
    </nav>
    <header class="section__container header__container">
      <div class="header__image__container">
        <div class="header__content">
          <h1>Summer is coming!</h1>
          <p>Store your luggages or lend your space for best prices</p>
        </div>

      <div class="booking__container">
        <form action="/booking-summary" method="POST">
    <div class="form__group">
        <div class="input__group">
            <input type="text" id="location" name="location" value="Lovely Professional University" autocomplete="off" />
            <label for="location"></label>
        </div>
        <p>What's your location?</p>
    </div>
    <div class="form__group">
        <div class="input__group">
            <input type="date" id="check-in" name="checkInDate" />
            <label for="check-in"></label>
        </div>
        <p>Check-in date</p>
    </div>
    <div class="form__group">
        <div class="input__group">
            <input type="date" id="check-out" name="checkOutDate" />
            <label for="check-out"></label>
        </div>
        <p>Check-out date</p>
    </div>
    <div class="form__group">
        <div class="input__group">
            <input type="text" id="luggage" name="luggageItems" value="1"> 
            <label for="luggage"></label>
        </div>
        <p>Add luggage</p>
    </div>
    <button type="submit" class="btn"><i class="ri-shopping-cart-line"></i> Book Now</button>
</form>

      </div>
        
      
    </header>

    <section class="section__container popular__container">
      <h2 class="section__header">We are available in</h2>
      <div class="popular__grid">
        <div class="popular__card">
          <img src="assets/lovely-professional-university.jpg" alt="popular uni" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>Lovely Professional University</h4>
              <a href="#" class="book__button">Book</a>
            </div>
            <p>Phagwara, Punjab</p>
          </div>
        </div>
        <div class="popular__card">
          <img src="assets/thapar-institute-of-engineering-technology-patiala.jpg" alt="popular hotel" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>Thapar University</h4>
              <a href="#" class="book__button">Book</a>
            </div>
            <p>Patiala, Punjab</p>
          </div>
        </div>
        <div class="popular__card">
          <img src="assets/amity-university-noida.jpg" alt="popular hotel" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>Amity University</h4>
              <a href="#" class="book__button">Book</a>
            </div>
            <p>Noida, Uttar Pradesh</p>
          </div>
        </div>
        <div class="popular__card">
          <img src="assets/cu2.jpeg" alt="popular hotel" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>Chandigarh University</h4>
              <a href="#" class="book__button">Book</a>
            </div>
            <p>Ajitgarh, Punjab</p>
          </div>
        </div>
        <div class="popular__card">
          <img src="assets/Galgotias-University.jpg" alt="popular hotel" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>Galgotias University</h4>
              <a href="#" class="book__button">Book</a>
            </div>
            <p>Greater Noida, Uttar Pradesh</p>
          </div>
        </div>
        <div class="popular__card">
          <img src="assets/Chitkara-University.jpg" alt="popular hotel" />
          <div class="popular__content">
            <div class="popular__card__header">
              <h4>Chitkara University</h4>
              <a href="#" class="book__button">Book</a>
            </div>
            <p>Rajpura, Punjab</p>
          </div>
        </div>
      </div>
    </section>
    <section class="cli">
      <div class="section__container cli__container">
        <h2 class="section__header">How does it work?</h2>
        <div class="cli__grid">
          <div class="cli__card">
            {{!-- <img src="assets/girl2.png" alt="client" /> --}}
            <p>
              <h4>STEP 1</h4>
              <h2>Book luggage storage</h2>
              Select the nearest location and the time slot of your choice, depending on your activities.
            </p>
          </div>
          <div class="cli__card">
            {{!-- <img src="assets/girl1.png" alt="client" /> --}}
            <p>
              <h4>STEP 2
              </h4>
              <h2>Drop your luggage</h2>
              Go to the address indicated on your reservation: entrust your luggage to our partner in person.
            </p>
          </div>
          <div class="cli__card">
            {{!-- <img src="assets/luggage.png" alt="client" /> --}}
            <p>
              <h4>STEP 3</h4>
              <h2>Enjoy your vacay</h2>
              Now that your luggage is safe and your hands free. It’s time for enjoying vacations!!
            </p>
          </div>
        </div>
      </div>
    
    <section class="section__container feature__container" id="feature">
      <p class="section__subheader">No need to stress about your luggage anymore!</p>
      <h2 class="section__header">We look after them as if they were our own.</h2>
      <div class="feature__grid">
        <div class="feature__card">
          <span><i class="ri-thumb-up-line"></i></span>
          <h4>Have High Rating</h4>
          <p>
            We take pride in curating a selection of storage places that consistently
            receive high ratings and positive reviews.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-shield-line"></i></span>
          <h4>Full protection </h4>
          <p>
            Your luggage is protected for up to ₹10000 in case of breakage, loss or theft.
          </p>

        </div>
        <div class="feature__card">
          <span><i class="ri-map-pin-line"></i></span>
          <h4>Best Location</h4>
          <p>
            At our luggage storage booking website, we take pride in offering
            accommodations in the most prime and sought-after locations.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-close-circle-line"></i></span>
          <h4>Free Cancellation</h4>
          <p>
            We understand that travel plans can change unexpectedly, which is
            why we offer the flexibility of free cancellation.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-wallet-line"></i></span>
          <h4>Payment Options</h4>
          <p>
            Our booking website offers a range of convenient payment
            options to suit your preferences.
          </p>
        </div>
        <div class="feature__card">
          <span><i class="ri-coupon-line"></i></span>
          <h4>Trustworthy partners</h4>
          <p>
            Our partners check IDs, reservations and ensure the safety of your luggage.
          </p>

        </div>
      </div>
    </section>

    <section class="client">
      <div class="section__container client__container">
        <h2 class="section__header">What our customers say</h2>
        <div class="client__grid">
          <div class="client__card">
            <img src="assets/girl2.png" alt="client" />
            <p>
              The booking process was seamless, and the confirmation was
              instant. I highly recommend SummerSafe for hassle-free hotel bookings.
            </p>
            <span class="heart-icon">&#10084;</span>

          </div>
          <div class="client__card">
            <img src="assets/girl1.png" alt="client" />
            <p>
              The website delievers exactly what it promises.It helped my enjoy my vacation without have to worry about the safety of my stuff. Highly recommended!
            </p>
            <span class="heart-icon">&#10084;</span>

          </div>
          <div class="client__card">
            <img src="assets/luggage.png" alt="client" />
            <p>
              I was able to book a storage room within minutes, and the service exceeded
              my expectations. I appreciate SummerSafe's efficiency and reliability.
            </p>
            <span class="heart-icon">&#10084;</span>

          </div>
        </div>
      </div>
    </section>

    <section class="section__container">
      <div class="reward__container">
        <p>100+ discount codes</p>
        <h4>Join rewards and discover amazing discounts on your booking</h4>
        <button class="reward__btn">Join Rewards</button>
      </div>
    </section>

    <footer class="footer">
      <div class="section__container footer__container">
        <div class="footer__col">
          <h3>SummerSafe</h3>
          <p>
            SummerSafe is a luggage-storage booking website that offers a seamless and
            convenient way to find and book storage all across india.
          </p>
          <p>
            With a user-friendly interface and a vast selection of universities,
            SummerSafe aims to provide a stress-free experience for students
            while they enjoy their vacation.
          </p>
        </div>
        <div class="footer__col">
          <h4>Company</h4>
          <p>About Us</p>
          <p>Our Team</p>
          <p>Blog</p>
          <p>Book</p>
          <p>Contact Us</p>
        </div>
        <div class="footer__col">
          <h4>Legal</h4>
          <p>FAQs</p>
          <p>Terms & Conditions</p>
          <p>Privacy Policy</p>
        </div>
        <div class="footer__col">
          <h4>Resources</h4>
          <p>Social Media</p>
          <p>Help Center</p>
          <p>Partnerships</p>
        </div>
      </div>
      
    </footer> 
    <script>// Get all heart icons
const heartIcons = document.querySelectorAll('.heart-icon');

// Loop through each heart icon
heartIcons.forEach(icon => {
  // Add click event listener
  icon.addEventListener('click', function() {
    // Toggle class to change color
    this.classList.toggle('red');
  });
});
</script>

  </body>
</html>